<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VoodooPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="ActivationKey" value=""/>
  </appSettings>
  <userSettings>
    <VoodooPOS.Properties.Settings>
      <setting name="BackgroundImagePath" serializeAs="String">
        <value>/images/logo5.jpg</value>
      </setting>
      <setting name="LogoImagePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageNotFoundImagePath" serializeAs="String">
        <value>/images/coming-soon.jpg</value>
      </setting>
      <setting name="TaxRate" serializeAs="String">
        <value>7.4</value>
      </setting>
      <setting name="EndOfBusinessDay24HourTime" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MinimumCreditCharge" serializeAs="String">
        <value>5</value>
      </setting>
    </VoodooPOS.Properties.Settings>
  </userSettings>
</configuration>